---
Language: Cpp
BasedOnStyle: Mozilla
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
IncludeBlocks: Merge
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: true
ColumnLimit: 80
IndentWidth: 2
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
FixNamespaceComments: true
NamespaceIndentation: All
---
